h1 {
    font-size: 35px;
    text-align: left;
    padding: 1px 50px 1px 20px;
    color: black;
    background: lightgrey;
    margin: 0;
}
p {
    font-size: 16px;
    text-align: left;
    padding: 1px 50px 1px 20px;
    width: 370px;
    color: black;
    display: inline-block;
    margin: 10px 0 10px 0;
}
.location{
    font-weight: bold;
}
hr{
    width: 520px;
}
.gitData{
    width: 550px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    padding: 0;
    overflow: hidden;
    margin: 0;
    background: #fcfcfc;
}
.data {
    width: 380px;
    display: inline-block;
    color: white;
    margin-top: 20px;
    padding: 0;
}
.image{
    height: 150px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 10px 10px;
    float: left;
}
li{
    font-size: 14px;
    display: inline;
    float: left;
    margin: 5px 15px 0 0;
    width: 115px;
    height: 33px;
}
.star_image{
    width: 35px;
    height: 20px;
    margin: 5px 2px 0 8px;
    background: #d3d3d0;
    border-radius: 5px;
    padding-left: 7px;
}







